@import '../globals.scss';

.job-details {
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  padding: 0.5rem;
  flex-direction: column;
  h2 {
    margin-top: 1rem;
  }
  .job-details__subtitle {
    color: lighten($text-color, 30);
    font-size: 14px;
    padding: 8px 0;
    text-align: center;
  }
}
.information-box {
  font-size: 1rem;
  background-color: lighten($primary, 30);
  border-radius: 6px;
  border: 3px solid lighten($primary, 20);
  padding: 1em;
}
.box-title {
  padding: 1em 0;
}
.job-description {
  overflow: scroll;
  padding: 1.5rem;
  font-size: 0.85rem;
  width: inherit;
  p {
    width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  ul {
    margin: 0;
    padding: 0;
    padding-inline-start: 5px!important;
  }
}