@import '../globals.scss';

.navbar {
  width: 100%;
  overflow-x: hidden;
  padding: 8px 16px;
  height: 8vh;
  text-align: center;
  background-color: rgb(116, 209, 209);
  border-top: 4px solid rgb(4, 129, 129);
  h1 {
    color: $gray-100;
  }
}
